@model PartialViews.Models.Film
@{
    ViewBag.Title = "Index";
}

<tr>
    <td>
        <h2> @Html.DisplayFor(model => model.Title)</h2>
    </td>
    <td>
        <span>  @Html.DisplayFor(model => model.Duration)</span>
    </td>
    <td>
        <p> @Html.DisplayFor(model => model.Description)</p>
    </td>
</tr>